*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.bottom-header {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.hero, .Hero, main, section {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
body {
  padding-top: 80px; /* same as your navbar height */
}
